<!DOCTYPE html>
<html ng-app='myapp'>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="/static/js/myapp.js"></script>

    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

        <h1 class="text-center"> Github User Data </h1>
        <div ng-controller='GithubController' class="col-lg-12">

            <style>
                .form-signin {
                    max-width: 550px;
                    padding: 15px;
                    margin: 0 auto;
                }    
             </style>     

            <div class="container text-center">
                
                
                {% csrf_token %}
                

                <br>
                <input ng-model="user" type="text" class="form-control" placeholder="Github User Name, e.g: DrkSephy" value="" required autofocus />
                <br>
                <input type="button" value="Get Data" ng-click="getdata(user)" />
                
            </div>


            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                      <th class="header"> Username <i class="icon-sort"></i></th>
                      <th class="header"> Blog <i class="icon-sort"></i></th>
                      <th class="header"> Public Repos <i class="icon-sort"></i></th>
                      <th class="header"> Public Gists <i class="icon-sort"></i></th>
                      <th class="header"> Email <i class="icon-sort"></i></th>
                      <th class="header"> Followers <i class="icon-sort"></i></th>
                      <th class="header"> Following <i class="icon-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                

                    <tr>
                        <td>{$ data.name $}</td>
                        <td>{$ data.blog $}</td>
                        <td>{$ data.public_repos $}</td>
                        <td>{$ data.public_gists $}</td>
                        <td>{$ data.email $}</td>
                        <td>{$ data.followers $}</td>
                        <td>{$ data.following $}</td>
                    </tr>

                
                </tbody>
                </table>
            </div>
        </div>
</body>
    </html>